VITE_FIREBASE_API_KEY=AIzaSyBPQdm_dtkfcyBAE42bv5GLmHRFJVTWC78
VITE_FIREBASE_AUTH_DOMAIN=dheerendra-591e7.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dheerendra-591e7
VITE_FIREBASE_STORAGE_BUCKET=dheerendra-591e7.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=306410417000
VITE_FIREBASE_APP_ID=1:306410417000:web:d72dfb3ca5ec4c45a604dd
VITE_FIREBASE_MEASUREMENT_ID=G-Z3Y6E61HNM